#<IfModule mime_module>
#  AddHandler application/x-httpd-ea-php72___lsphp .php .php7 .phtml
#</IfModule>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]